[Unit]
Description=Trigger ETL Script Daily

[Timer]
# Run every day at 8:30 AM
OnCalendar=*-*-* 08:30:00
# If the server was off at 8:30 AM, run it immediately after reboot
Persistent=true

[Install]
WantedBy=timers.target